<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ToddleWebTestTool">
    <parameter name="browser_name" value="BS"/>
    <test verbose="3" preserve-order="true" name="Web Test" skipfailedinvocationcounts="false" parallel="false">
        <classes>
                <class name="test.java.TestClass"/>
        </classes>
    </test>
</suite>